.about{
  padding: 40px 0px 60px 0px;
  background-color: #30395C;


  img{
    border-radius: 10%;
    margin: 0px 0px 20px 0px;
    width: 100%;
    max-width: 200px;
  }

  h2{
    color: #ddf1ff;
    font-family: 'Lato', serif;
    font-size: 38px;
    padding-bottom: 10px;
    text-align: center;
  }

  p{
    color: #D0E4F2;
    font-family: 'Roboto', serif;
    font-size: 17px;
  }
}
