.about{
  padding: 100px 0px;
  background-color: #30395C;

  img{
    border-radius: 100%;
    height: 200px;
    width: 200px;
  }

  h2{
    color: #ddf1ff;
    font-family: 'Lato', serif;
    font-size: 38px;
  }

  p{
    color: #D0E4F2;
    font-family: 'Roboto', serif;
    font-size: 19px;
  }
}
